.notes {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.notes-container {
    margin: 1.5rem 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}