.notesInput {
    position: fixed;
    color: red;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
}

.notesInput-card {  
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30%;
    height: 70%;
    transform: translate(-50%, -60%);
    background-image: url('../../assets/notes2.png');
    background-size: cover;
}